# Default ignored files
/../../pythonProjectgit                                                                                                                                                                                                                                                                                                                /.idea/shelf/
/../../pythonProjectgit                                                                                                                                                                                                                                                                                                                /.idea/workspace.xml
